* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 5px;
    border-radius: 12px;
}

/* REGOLE HEADER */
header {
    width: 100%;
    height: 70px;
    background-color: rgba(0,132,253,255);
    position: fixed;
}

header .container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 20%;
}

#hamburger-menu {
    text-align: center;
    font-size: 1.7rem;
    color: white;
}

#menu {
    display: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.no-button {
    display: inline-block;
    line-height: 70px;
    color: white;
}

#button-menu {
    display: inline-block;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 12px;
}

/* REGOLE HEADER DESKTOP */
@media screen and (min-width:769px) {
    #hamburger-menu {
        display: none;
    }

    #menu {
        display: flex;
        
    }

    header .container {
        width: 70%;
    }
}

/* /FINE REGOLE HEADER */


/* REGOLE MAIN */
#fix-pos {
    padding-top: 90px;
}

section {
    padding-top: 20px;
    padding-bottom: 40px;
}

section .container {
    width: 90%;
    margin: 0 auto;
    /* DEBUG */
    /* border: 1px solid black; */
}

.white-section {
    background-color: white;
}

.azure-section {
    background-color: rgba(151,146,228,255);
}

/* REGOLE MAIN DESKTOP */
@media screen and (min-width: 769px) {
    section .container {
        width: 70%;
    }
    
}

/* sezione demo application */

#demo .col {
    margin-bottom: 10px;
    width: 100%;
    background-color: rgba(181,221,255,255);
    text-align: center;
    border-radius: 12px;
    /* debug */
    /* border: 1px solid black; */
}

#double {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(181,221,255,255);
    border-radius: 12px;
    /* debug */
    /* border: 1px solid black; */
}

.demo-container {
    width: 90%;
    margin: 10px auto 0 auto;
    font-weight: bold;
}

#demo h2 {
    color: rgba(3,134,253,255);
    margin-bottom: 20px;
}

#demo p {
    color: rgba(97,118,136,255);
}

#phone-image {
    width: 60%;
    margin: 20px auto 0 auto;
}

#phone-image img {
    display: block;
    max-width: 100%;
}

#app-button {
    color: white;
    background-color: rgba(0,132,253,255);
    margin-top: 20px;
    width: 60%;
    text-align: center;
    letter-spacing: 4px;
}

.demo-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.demo-container .fa-solid {
    color: rgba(3,134,253,255);
    font-size: 6rem;
    margin-bottom: 7px;
}

.col .demo-container {
    margin-bottom: 10px;
}



/* REGOLE SEZIONE DEMO APPLICATION TABLET E DESKTOP STESSE REGOLE*/
@media screen and (min-width: 481px) {
    #demo {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
    }

    #demo .col {
        width: calc((100% / 3) - 10px);
    }

    #double {
        width: calc(((100% /3) * 2) - 10px);
    }
    
}

/* REGOLE SEZIONE DEMO APPLICATION DESKTOP */
@media screen and (min-width: 769px) {
    #demo-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    
    #demo-left, #phone-image {
        width:calc(50% - 10px) ;
    }

    #demo-left {
        height: 100%;
    }

    #demo {
        font-size: 1.1rem;
    }
}

/* sezione strategic planning */
#strategic .col {
    width: 100%;
    margin-bottom: 10px;
    color: white;
    /* DEBUG */
    /* border: solid 1px black; */

}

#strategic-image {
    width: 100%;
}

#strategic-image img {
    max-width: 100%;
    object-fit: cover;
}

#strategic .left h1 {
    margin-top: 20px;
    color: white;
    font-size: 1.8rem;
}

#strategic .left p {
    margin-top: 20px;
    color: white;
}

#strategic .right {
    background-color: white;
    margin-top: 20px;
    border-radius: 15px;

}

#right-container {
    width: 80%;
    margin: 0 auto;
    color: black;
    text-align: center;
}

#right-container p {
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;

}

#right-container a {
    font-size: 1.3rem;
    display: inline-block;
    background-color: rgba(151,146,228,255);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 5px;
}

#planning-image {
    width: 100%;
}

#planning-image img {
    max-width: 100%;
    object-fit: cover;
}

/* STRATEGIC PLANNING DESKTOP */
@media screen and (min-width: 769px) {
    #strategic {
        display: flex;
        gap: 20px;
    }

    #strategic .col {
        width: 50%;
    }

    #strategic .right {
        align-self: flex-end;
    }
    
}

/* sezione testimonials */
.text, .card {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* DEBUG */
    /* min-height: 100px; */
    /* border: 1px solid black; */
}

#testimonials .text span {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#testimonials .text h1 {
    font-size: 2rem;
    color: rgba(151,146,228,255);
    margin-bottom: 20px;
}

#testimonials .text p {
    font-size: 1.1rem;
}



.card {
    background-color: rgba(151,146,228,255);
    border-radius: 30px;
}

.card p {
    color: white;
}

.test-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    
}

.photo {
    width: 70%;
    margin: 10px auto;
    
}

.photo img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 3px;
}

/* regole table e desktop */
@media screen and (min-width: 481px) {
    .card .test-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        text-align: left;

    }

    .photo {
        width: 30%;
    }
    
    .card .test-container p {
        width: 60%;
    }
}


/* regole sezione WORKING WITH US */
#working-title {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.box-flex-container {
    width: 100%;

}

.margin-container {
    width: 85%;
    margin: 0 auto;
}

.box {
    width: 100%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.box h3 {
    color: rgba(151,146,228,255);
}

.number {
    color: rgba(151,146,228,255);
    font-size: 2.5rem;
    margin-bottom: 20px;
    padding-top: 20px;
}

.box h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;

}

.box p {
    color: rgba(148,148,148,255);
    margin-bottom: 20px;
}

.box a {
    background-color: rgba(151,146,228,255);
    color: white;
    width: 60%;
    text-align: center;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 30px;
}


/* REGOLE TABLET */
@media screen and (min-width: 481px) {
    .box-flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .box {
        width: calc(50% - 10px);
        margin-bottom: 0px;
    }
}

/* REGOLE DESKTOP */
@media screen and (min-width: 769px) {
    .box {
        width: calc((100% / 3) - 10px);
        margin-bottom: 0px;
    }
    
}


/* regole section ABOUT US */
#top-left {
    margin-bottom: 30px;
    
}

#top-left h1 {
    color: rgba(151,146,228,255);
    margin-bottom: 15px;
}

#top-left p {
    margin-bottom: 20px;
}

#bot-right span {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    color: rgba(151,146,228,255);
    margin-top: 10px;
    margin-bottom: 15px;
}

#ceo-photo {
    width: 55%;
    position: relative;
}

#ceo-photo img {
    max-width: 100%;
    border-radius: 50%;
}

/* REGOLE TABLET */
@media screen and (min-width: 481px) {
    #about-us {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    
    #top-left, #bot-right {
        width: calc(50% - 30px);
        margin-top: 20px;
    }

    #bot-right {
        text-align: left;
    }

}

#find-me-button {
    background-color: rgba(151,146,228,255);
    color: white;
}

#quote {
    color: rgba(151,146,228,255);
    position: absolute;
    font-size: 3rem;
    top: -9px;
    right: -10px;
}






/* REGOLE DESKTOP */
@media screen and (min-width: 769px) {
    #top-left {
        width: 60%;
    }

    #bot-right {
        width: 40%;
    }

    
}

/* regole sezione GET STARTED */
#get-started {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

/* REGOLE TABLET */
@media screen and (min-width: 481px) {
    #get-started {
        width: 70%;
    }
}

@media screen and (min-width: 769px) {
    #get-started {
        width: 60%;
    }
}

/* Regole FOOTER */
footer {
    width: 100%;
    background-color: black;
    color: white;
}

#footer-container {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

footer p {
    padding-top: 30px;
}

/* REGOLE TABLET E DESKTOP */
@media screen and (min-width: 481px) {
    #footer-container {
        width: 65%;
    }
}