* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* REGOLE HEADER */
header {
    width: 100%;
    height: 70px;
    background-color: rgba(0,132,253,255);
    position: fixed;
}

header .container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* DEBUG */
    border: solid 1px black;
}

#logo {
    /* DEBUG */
    width: 20%;
    height: 40px;
    background-color: yellow;
}

#hamburger-menu {
    /* DEBUG */
    width: 10%;
    height: 40px;
    background-color: yellow;
}

#menu {
    display: none;
    list-style-type: none;
    justify-content: space-between;
    gap: 10px;
    /* DEBUG */
    background-color: brown;
}

/* #menu li {
    line-height: 70px;
} */

#menu li a {
    display: inline-block;
    line-height: 70px;
    color: white;
}

/* REGOLE HEADER DESKTOP */
@media screen and (min-width:769px) {
    #hamburger-menu {
        display: none;
    }

    #menu {
        display: flex;
        
    }

    header .container {
        width: 70%;
    }
}

/* /FINE REGOLE HEADER */


/* REGOLE MAIN */
#fix-pos {
    padding-top: 90px;
}

section {
    padding-top: 20px;
    padding-bottom: 40px;
}

section .container {
    width: 90%;
    margin: 0 auto;
    /* DEBUG */
    border: 1px solid black;
}

.white-section {
    background-color: white;
}

.azure-section {
    background-color: rgba(151,146,228,255);
}

/* REGOLE MAIN DESKTOP */
@media screen and (min-width: 769px) {
    section .container {
        width: 70%;
    }
    
}

/* sezione demo application */

#demo .col {
    margin-bottom: 10px;
    width: 100%;
    /* debug */
    height: 90px;
    background-color: blue;
    border: 1px solid black;
}

#double {
    width: 100%;
    margin-bottom: 10px;
    /* debug */
    height: 90px;
    background-color: blue;
    border: 1px solid black;
}

/* REGOLE SEZIONE DEMO APPLICATION TABLET E DESKTOP STESSE REGOLE*/
@media screen and (min-width: 481px) {
    #demo {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
    }

    #demo .col {
        width: calc((100% / 3) - 10px);
    }

    #double {
        width: calc(((100% /3) * 2) - 10px);
    }
    
}

/* sezione strategic planning */
#strategic .col {
    width: 100%;
    margin-bottom: 10px;
    /* DEBUG */
    background-color: yellow;
    min-height: 100px;
    border: solid 1px black;

}

/* STRATEGIC PLANNING DESKTOP */
@media screen and (min-width: 769px) {
    #strategic {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    #strategic .col {
        width: 50%;
    }

    #strategic .right {
        margin-top: 20px;
    }
    
}

/* sezione testimonials */
.text, .card {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* DEBUG */
    /* min-height: 100px; */
    border: 1px solid black;
}

.card {
    background-color: rgba(151,146,228,255);
}

.test-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    
}

.photo {
    width: 70%;
    margin: 10px auto;
    
}

.photo img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
}



#testimonials {
    /* DEBUG */
    min-height: 300px;
}

.name {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* regole table e desktop */
@media screen and (min-width: 481px) {
    .card .test-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        text-align: left;

    }

    .photo {
        width: 30%;
    }
    
    .card .test-container p {
        width: 60%;
    }
}


/* regole sezione WORKING WITH US */
#working-title {
    color: white;
    text-align: center;
}

.box-flex-container {
    width: 100%;

}

.margin-container {
    width: 85%;
    margin: 0 auto;
}

.box {
    width: 100%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box h3 {
    color: rgba(151,146,228,255);
}

.number {
    color: rgba(151,146,228,255);
}

/* REGOLE TABLET */
@media screen and (min-width: 481px) {
    .box-flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .box {
        width: calc(50% - 10px);
        margin-bottom: 0px;
    }
}

/* REGOLE DESKTOP */
@media screen and (min-width: 769px) {
    .box {
        width: calc((100% / 3) - 10px);
        margin-bottom: 0px;
    }
    
}


/* regole section ABOUT US */
#top-left {
    margin-bottom: 30px;
    
}

#top-left h1 {
    color: rgba(151,146,228,255);
    margin-bottom: 15px;
}

#top-left p {
    margin-bottom: 20px;
}

#bot-right h3 {
    color: rgba(151,146,228,255);
}

#ceo-photo {
    width: 55%;
    position: relative;
}

#ceo-photo img {
    max-width: 55%;
    border-radius: 50%;
}

/* REGOLE TABLET */
@media screen and (min-width: 481px) {
    #about-us {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    #top-left, #bot-right {
        width: calc(50% - 10px);
        margin-top: 20px;
    }

    #bot-right {
        text-align: center;
    }

    #ceo-photo {
        margin: 0 auto;
    }
}

/* REGOLE DESKTOP */
@media screen and (min-width: 769px) {
    #top-left {
        width: 60%;
    }

    #bot-right {
        width: 40%;
    }

    
}

/* regole sezione GET STARTED */
#get-started {
    text-align: center;
    width: 90%;
}

/* REGOLE TABLET */
@media screen and (min-width: 481px) {
    #get-started {
        width: 70%;
    }
}

@media screen and (min-width: 769px) {
    #get-started {
        width: 60%;
    }
}